.to-be-dragged {
  height: 200px;
  width: 200px;
  background-color: red;
}

.to-be-dragged.dragging {
  background-color: yellow;
}

.to-be-dragged-and-cloned {
  width: 100%;
}

.to-be-dragged-and-cloned tr {
  line-height: 24px;
}

.to-be-dragged-and-cloned tr:nth-child(odd) {
  background-color: white;
}
