.std-box-shadow {
  box-shadow: 1px 1px 1px 0 #dadada;
  -moz-box-shadow: 1px 1px 1px 0 #dadada;
  -webkit-box-shadow: 1px 1px 1px 0 #dadada;
}
button.formwidget {
  border: 0;
}
button.formwidget.button {
  border: 1px solid #60676d;
}
.button {
  color: #60676d;
  padding: 4px 10px;
  text-align: center;
  border: 1px solid #60676d;
  font: 11px Arial, Helvetica, clean-sans;
  text-decoration: none;
  background-color: #e5e5e5;
  background: #e5e5e5 linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #c3c3c3 100%);
  background: #e5e5e5 -moz-linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #c3c3c3 100%);
  background: #e5e5e5 -webkit-linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #c3c3c3 100%);
  box-shadow: 1px 1px 1px 0 #dadada;
  -moz-box-shadow: 1px 1px 1px 0 #dadada;
  -webkit-box-shadow: 1px 1px 1px 0 #dadada;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.button:visited {
  text-decoration: none;
  color: #60676d;
}
.button.hover,
.button:hover {
  border: 1px solid #2d343a;
  color: #2d343a;
  background-color: #c3cdd7;
  background: #c3cdd7 linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -moz-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -webkit-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
}
.button:active,
.button.active {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: #aab4be linear-gradient(top, #aab4be 0%, #bbc5cf 50%, #c3cdd7 100%);
  background: #aab4be -moz-linear-gradient(top, #aab4be 0%, #bbc5cf 50%, #c3cdd7 100%);
  background: #aab4be -webkit-linear-gradient(top, #aab4be 0%, #bbc5cf 50%, #c3cdd7 100%);
}
.button.disabled,
.button.disabled:hover,
.button.disabled.hover,
button.button.formwidget.disabled {
  border: 1px solid #82898f;
  color: #82898f;
  cursor: default;
  background-color: #e5e5e5;
  background: #e5e5e5 linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #d4d4d4 100%);
  background: #e5e5e5 -moz-linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #d4d4d4 100%);
  background: #e5e5e5 -webkit-linear-gradient(top, #e5e5e5 0%, #dddddd 50%, #d4d4d4 100%);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.radiogroup input[type=radio] {
  margin-right: 3px;
  vertical-align: sub;
}
select,
.selectbox {
  background: #ffffff url(/static/img/down-arrow-enabled.png) no-repeat right center;
  border: 1px solid #60676d;
  cursor: pointer;
  display: inline-block;
  min-width: 40px;
  padding: 4px 24px 4px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 1px 0 #dadada;
  -moz-box-shadow: 1px 1px 1px 0 #dadada;
  -webkit-box-shadow: 1px 1px 1px 0 #dadada;
}
.selectbox.hover,
.selectbox:hover,
.selectbox.active,
.selectbox:active {
  background: #ffffff url(/static/img/down-arrow.png) no-repeat right center;
}
select.hover,
select:hover,
select.active,
select:active,
.selectbox.hover,
.selectbox:hover,
.selectbox.active,
.selectbox:active {
  border: 1px solid #2d343a;
  color: #2d343a;
}
select.disabled,
select.disabled.hover,
select.disabled:hover,
select.disabled.active,
select.disabled:active,
.selectbox.disabled,
.selectbox.disabled.hover,
.selectbox.disabled:hover,
.selectbox.disabled.active,
.selectbox.disabled:active {
  border: 1px solid #82898f;
  color: #82898f;
  cursor: default;
}
select.invalid,
.selectbox.invalid {
  border: 1px solid #bb0000 !important;
  color: #bb0000 !important;
  background-color: #ffffff;
}
.selectbox.open {
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
select .menu,
.selectbox .menu {
  border-top: 1px solid #a4abb1;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
select,
select.selectbox {
  background: #fff;
  padding: 3px 5px 3px 0;
  height: 22px;
  line-height: 22px;
}
select.open,
select.selectbox.open {
  border: 1px solid #60676d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.textbox,
.textarea {
  background: #fff;
  border: 1px solid #60676d;
  color: #60676d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 1px 0 #dadada;
  -moz-box-shadow: 1px 1px 1px 0 #dadada;
  -webkit-box-shadow: 1px 1px 1px 0 #dadada;
}
.textbox {
  padding: 4px 6px;
}
.textarea {
  padding: 4px;
  width: 95%;
}
.textbox.active,
.textbox.focused,
.textbox.hover,
.textarea.active,
.textarea.focused,
.textarea.hover {
  border: 1px solid #2d343a;
  color: #60676d;
}
.textbox.disabled,
.textarea.disabled {
  border: 1px solid #82898f;
  color: #82898f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.textbox.invalid,
.textarea.invalid {
  border: 1px solid #bb0000 !important;
  color: #bb0000 !important;
  background-color: #ffffff;
}
