.grid-table-tbody-tr-td-button {
  height: 16px;
  padding: 1px 10px;
}
.grid-editable {
  position: absolute;
  height: 28px;
  background-color: #ffffff;
}
.grid-editable.odd {
  background-color: #f6f6f6;
}
.grid-editable .hide-me {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.grid-editable > div {
  display: inline-block;
  line-height: 28px;
  width: 10px;
  overflow: hidden;
}
.grid-editable button {
  height: 16px;
  padding: 1px 10px;
}
.grid-editable table tbody tr td {
  vertical-align: middle;
}
.editing.grid .table-wrapper {
  position: relative;
}
