.grid-table-tbody-tr-td-button {
  height: 16px;
  padding: 1px 10px;
}
.grid table.grid tbody tr {
  height: 2em;
  background-color: #ffffff;
}
.grid table.grid tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.grid table.grid tbody td {
  vertical-align: middle;
}
.grid table.grid tbody tr td button {
  height: 16px;
  padding: 1px 10px;
}
.grid table.grid thead tr th span.buffer {
  margin: 0 5px;
  display: block;
}
.grid table.grid thead tr th span.help {
  margin-left: 5px;
  font-size: 14px;
}
.grid table.grid thead tr th .resize-handle {
  width: 5px;
  height: 100%;
  cursor: col-resize;
  border-left: 2px solid #60676d;
  float: right;
  height: 12px;
  margin-right: -4px;
}
.grid table.grid thead tr th .resize-handle.dragging {
  border-left: 2px solid #ffffff;
  height: 28px;
  margin-top: -8px;
}
body.dragging-element .grid table.grid thead tr th,
body.dragging-element .grid table.grid thead tr td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body.dragging-element .grid.standard table.grid tbody tr:hover,
body.dragging-element .grid.standard table.grid tbody tr:hover:nth-child(odd) {
  background-color: #ffffff;
}
.grid.standard table.grid {
  width: 100%;
}
.grid.standard table.grid tbody tr {
  height: 28px;
}
.grid.standard table.grid tbody tr:hover {
  background-color: #e5e5e5;
}
.grid.standard.disabled table tbody tr:hover {
  background-color: #ffffff;
}
.grid.standard.disabled table tbody tr:hover:nth-child(odd) {
  background-color: #f6f6f6;
}
.grid.standard table.grid tbody tr.highlight {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table.grid tbody tr.highlight:hover {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table.grid thead tr {
  height: 28px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table.grid thead tr th {
  border-left: 1px solid #ffffff;
}
.grid.standard table.grid thead tr th.no-left-border,
.grid.standard table.grid thead tr th.first {
  border-left: none;
}
.fixed-height.grid {
  overflow: auto;
}
.grid table.grid thead th.sort-null .asc-arrow, 
.grid table.grid thead th.sort-null .desc-arrow {
    display: none;
  }

.grid table.grid thead th.sort-asc .asc-arrow {
    display: static;
  }
.grid table.grid thead th.sort-asc .desc-arrow {
    display: none;
  }
.grid table.grid thead th.sort-desc .desc-arrow {
    display: static;
  }
.grid table.grid thead th.sort-desc .asc-arrow {
    display: none;
  }

