tr.selected {
  background-color: gray;
}

.powergrid.selectable table tbody {
  cursor: default;
}

/* these are necessary for IE to correctly calculate column widths, column
 * resizing breaks without them */
.powergrid table thead th {
  border-left-width: 0px;
  border-right-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.powergrid table thead th .wrapper {
  position: relative;
}

.powergrid table thead th .resize {
  width: 8px;
  background-color: gray;
  position: absolute;

  /* if you make this a negative value, you'll get horizontal scrollbars on the
   * grid and you'll spend hours trying to figure out why */
  right: 0px;

  top: 0px;
  bottom: 0px;
  z-index: 1;
}

.powergrid table thead th .resize:hover {
  cursor: col-resize;
}

.powergrid.filtered tbody {
  background-color: #FFFFCD;
}

.powergrid .grid-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.powergrid .grid-canvas .spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}