.menu {
  background-color: #fff;
  border: 1px solid;
  border-top: 0px solid;
  position: absolute;
  z-index: 50;
}
.menu > ul {
  margin: 0;
  padding: 0;
}
.menu > ul > li {
  cursor: default;
  list-style-type: none;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
