.tree.grid table tbody td .expand,
.tree.grid table tbody tr td .expand {
  width: 30px;
  /* display: inline-block; */

  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #60676d;
  cursor: default;
}
.tree.grid table tbody tr td .expand.parent {
  cursor: pointer;
}
.tree.grid table.cloned.dragging {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
body.dragging-element .tree.grid table tbody tr.hover {
  background-color: #60676d;
  color: white;
}
body.dragging-element .tree.grid table tbody tr.hover td button,
.tree.grid table tbody tr.highlight td button {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body.dragging-element .tree.grid table tbody tr.hover td .expand,
.tree.grid table tbody tr.highlight td .expand {
  color: white;
}
body.dragging-element .tree.grid .insert {
  position: absolute;
  height: 6px;
  background-color: #60676d;
}
