.toggleframe .togglebuttons button {
  background-color: #b4b4b4;
  border: solid #909090;
  border-width: 1px 0 1px 1px;
  color: #60676d;
  margin: 0;
  padding: 4px 20px;
}
.toggleframe .togglebuttons button.first {
  border-radius: 4px 0 0 4px;
}
.toggleframe .togglebuttons button.last {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
}
.toggleframe .togglebuttons button.selected,
.toggleframe .togglebuttons button:hover {
  background-color: #e8e8e8;
}
