@import '../../../../css/globallib.less';
@import './gridlib.less';

.grid table {
  display: table;
}

.grid table tbody {
  display: table-row-group;
}

.grid table tbody tr {
  height: 2em;
  background-color: @row-background-color;
  display: table-row;
}

.grid table tbody tr:nth-child(odd) {
  background-color: @odd-row-background-color;
}

.grid table tbody td {
  vertical-align: middle;
  display: table-cell;
}

.grid table tbody form td {
  display: inline-block;
}

.grid table tbody tr td button {
  .grid-table-tbody-tr-td-button
}

.grid table thead tr th {
  position: relative;
}

.grid table thead tr th .resize-handle {
  position: absolute;
  top: 0;
  right: -6px;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  border-left: 2px solid @color;
}

.grid table thead tr th .resize-handle.dragging {
  border-left: 2px solid @row-background-color;
}

.grid.standard table {
  width: 100%;
}

.grid.standard table tbody tr {
  height: @standard-row-height;
}

.grid.standard table tbody tr:hover {
  background-color: @odd-row-background-color - #111;
}

.grid.standard table tbody tr.highlight {
  .reversed()
}

.grid.standard table tbody tr.highlight:hover {
  .reversed()
}

.grid.standard table thead tr {
  height: @standard-row-height;
  border-bottom: 1px solid @row-background-color;
  .reversed()
}

.grid.standard table thead tr th {
  border-left: 1px solid @row-background-color;
}

.grid.standard table thead tr th.no-left-border,
.grid.standard table thead tr th.first {
  border-left: none;
}

