.grid-table-tbody-tr-td-button {
  height: 16px;
  padding: 1px 10px;
}
.grid table {
  display: table;
}
.grid table tbody {
  display: table-row-group;
}
.grid table tbody tr {
  height: 2em;
  background-color: #ffffff;
  display: table-row;
}
.grid table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.grid table tbody td {
  vertical-align: middle;
  display: table-cell;
}
.grid table tbody form td {
  display: inline-block;
}
.grid table tbody tr td button {
  height: 16px;
  padding: 1px 10px;
}
.grid table thead tr th span.buffer {
  margin: 0 5px;
  display: block;
}
.grid table thead tr th .resize-handle {
  width: 5px;
  height: 100%;
  cursor: col-resize;
  border-left: 2px solid #60676d;
  float: right;
  height: 12px;
  margin-right: -4px;
}
.grid table thead tr th .resize-handle.dragging {
  border-left: 2px solid #ffffff;
  height: 28px;
  margin-top: -8px;
}
body.dragging-element .grid table thead tr th,
body.dragging-element .grid table tbody tr td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.grid.standard table {
  width: 100%;
}
.grid.standard table tbody tr {
  height: 28px;
}
.grid.standard table tbody tr:hover {
  background-color: #e5e5e5;
}
.grid.standard.disabled table tbody tr:hover {
  background-color: #ffffff;
}
.grid.standard.disabled table tbody tr:hover:nth-child(odd) {
  background-color: #f6f6f6;
}
.grid.standard table tbody tr.highlight {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table tbody tr.highlight:hover {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table thead tr {
  height: 28px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table thead tr th {
  border-left: 1px solid #ffffff;
}
.grid.standard table thead tr th.no-left-border,
.grid.standard table thead tr th.first {
  border-left: none;
}
