.grid-table-tbody-tr-td-button {
  height: 16px;
  padding: 1px 10px;
}
.grid table {
  display: table;
}
.grid table tbody {
  display: table-row-group;
}
.grid table tbody tr {
  height: 2em;
  background-color: #ffffff;
  display: table-row;
}
.grid table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.grid table tbody td {
  vertical-align: middle;
  display: table-cell;
}
.grid table tbody form td {
  display: inline-block;
}
.grid table tbody tr td button {
  height: 16px;
  padding: 1px 10px;
}
.grid table thead tr th {
  position: relative;
}
.grid table thead tr th .resize-handle {
  position: absolute;
  top: 0;
  right: -6px;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  border-left: 2px solid #60676d;
}
.grid table thead tr th .resize-handle.dragging {
  border-left: 2px solid #ffffff;
}
.grid.standard table {
  width: 100%;
}
.grid.standard table tbody tr {
  height: 28px;
}
.grid.standard table tbody tr:hover {
  background-color: #e5e5e5;
}
.grid.standard table tbody tr.highlight {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table tbody tr.highlight:hover {
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table thead tr {
  height: 28px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: #60676d;
}
.grid.standard table thead tr th {
  border-left: 1px solid #ffffff;
}
.grid.standard table thead tr th.no-left-border,
.grid.standard table thead tr th.first {
  border-left: none;
}
