@import '../../../../css/globallib.less';

@standard-row-height: 28px;
@row-background-color: white;
@odd-row-background-color: @body-background;

.reversed () {
  color: @row-background-color;
  background-color: @color;
}

.grid-table-tbody-tr-td-button {
  height: 16px;
  padding: 1px 10px;
}

