.togglegroup {
  display: inline-table;
}

.togglegroup [type=button],
.togglegroup button.formwidget.button {
  border-width: 1px 0px 1px 1px;
  border-radius: 0px;
  margin: 0px;
}

.togglegroup [type=button].first,
.togglegroup button.formwidget.button.first {
  border-radius: 4px 0 0 4px;
}

.togglegroup [type=button].last,
.togglegroup button.formwidget.button.last {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
}

.togglegroup button.button[checked] {
  border: 1px solid #2d343a;
  color: #2d343a;
  background-color: #c3cdd7;
  background: #c3cdd7 linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -moz-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -webkit-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -moz-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
  background: #c3cdd7 -webkit-linear-gradient(top, #c3cdd7 0%, #bbc5cf 50%, #a1abb5 100%);
}

.togglegroup button.button[checked].first {
  border-width: 1px 0px 1px 1px;
}